@import "~bootstrap/dist/css/bootstrap.css";
@import "modules/includes/header";
@import "modules/display";
@import "modules/trophy";
@import "modules/component-display";
@import "modules/component-trophy";

body {
    background-color: hsl(283, 1%, 98%);
    .container-fluid {
        height: 100vh;
        > .row {
            height: 100%;
        }
    }
}