header.showcase-header {
    background-color: hsl(283, 82%, 38%);
    box-shadow: 1px 0px 5px #444;
    .showcase-header-title {
        text-align: center;
        font-size: 2.5rem;
        display: block;
        color: hsl(283, 17%, 83%);
        line-height: 1.4;
    }
}