header.showcase-header {
    background-color: hsl(283, 82%, 38%);
    box-shadow: 1px 0px 5px #444;
    .showcase-header-title {
        text-align: center;
        font-size: 2.5rem;
        display: block;
        color: hsl(283, 95%, 95%);
        line-height: 1.4;
        margin-bottom: 1rem;
    }
    .showcase-nav-container {
        list-style: none;
        .showcase-nav-item, {
            position: relative;
            > a {
                display: block;
                text-decoration: none;
                color: hsl(283, 95%, 95%);
                &:hover {
                    background: hsl(283, 82%, 48%);
                }
            }
            &::before {
                content: '';
                width: 0;
                height: 0;
                border-top: 0.25em solid transparent;
                border-left: 0.5em solid hsl(0, 100%, 100%);
                border-bottom: 0.25em solid transparent;
                position: absolute;
                top: 0.75em;
                transform: translate(-1.5em, -50%) rotate(0deg);
                transition: transform ease-in-out 0.1s;
            }
            &:hover, &:focus {
                > a {
                    background: hsl(283, 82%, 48%);
                }
                &::before {
                    transform: translate(-1.5em, -50%) rotate(90deg);
                }
                & .showcase-nav-container {
                    height: auto;
                    transform: scale(1, 1);
                }
            }
            .showcase-nav-container {
                height: 0;
                transform: scale(1, 0);
                transform-origin: top center;
                transition: all ease-in-out 0.1s;
                padding: 0 0 0 1em;
                .showcase-nav-item {
                    &::before, &::after {
                        display: none;
                    }
                }
            }
        }
    }
}